---
layout: documentation
menu: sbt
---
<div>
    <div id="pills">
        <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}/documentation/sbt">Overview</a></li>
        <li
        {% if page.pill == 'migrate' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}/documentation/sbt/migrate">migrate</a></li>
        <li
        {% if page.pill == 'clean' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}/documentation/sbt/clean">clean</a></li>
        <li
        {% if page.pill == 'info' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}/documentation/sbt/info">info</a></li>
        <li
        {% if page.pill == 'validate' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}/documentation/sbt/validate">validate</a></li>
        <li
        {% if page.pill == 'baseline' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}/documentation/sbt/baseline">baseline</a></li>
        <li
        {% if page.pill == 'repair' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}/documentation/sbt/repair">repair</a></li>
    </ul>
        </div>
    
    {{ content }}

</div>